html, body {
  margin: 0;
  padding: 0;
  background:rgb(23, 23, 23);
}

/* DIVS */

.emptyDiv { 
  grid-area: empty;
  border-bottom: 0.5px solid rgb(150,150,150);
}
.iconDiv { 
  grid-area: icons; 
  padding-left: 15px;
  width:75px;
}
.iconDiv02 { 
  grid-area: icons02;
  /* border-top: 0.5px solid rgb(150,150,150); */
  padding-left: 15px;
  width:75px;
}
.sliderDiv { 
  grid-area: control; 
}
.sliderDiv02 { 
  grid-area: control02; 
  /* border-top: 0.5px solid rgb(150,150,150); */
}
.empty02{
  grid-area: empty02;
  border-bottom: 0.5px solid rgb(150,150,150);
}
.canvasDiv { 
  grid-area: canvas;
}
.mediaDiv { 
  grid-area: media; 
  padding: 10px 10px 10px 15px;
  border-left: 10px solid rgb(150,150,150);
}
.footerDiv {
  grid-area: footer; 
  border-top: 0.5px solid rgb(150,150,150);
}

.wrapper {
  width:100%;
  display: grid;
  grid-template-areas:
    'empty empty empty empty empty empty empty empty empty empty empty empty empty empty empty empty empty empty'
    'icons control control control control control canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas'
    'empty02 empty02 empty02 empty02 empty02 empty02 canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas'
    'icons02 control02 control02 control02 control02 control02 canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas'
    'media media media media media media canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas'
    'footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer';
}

#inputTextDiv{
  margin-top:0%;
}

/* ELEMENTS */

.icons{
  width: 50px;
  margin-top: 10px!important;
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 0.5px;
  border-radius: 20px;
  background:white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 48px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: ew-resize;
}

.videoInputButtonClass{
  background-color: rgb(100, 100, 100);
  border: 0.5px solid white;
  width: 50%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  .videoInputButtonClass::-webkit-file-upload-button{
    visibility: hidden;
    font-size: 0px;
  }
  .videoInputButtonClass::before {
    visibility: visible;
    content: 'Upload Video';
    color: rgb(200, 200, 200);
    font-family: Helvetica, 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-left: 5%;
  }
  .videoInputButtonClass:hover{
    opacity: 1;
  }

.cameraClass{
  background-color: rgb(100, 100, 100);
  font-family: Helvetica, 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  color: rgb(200, 200, 200);
  border: 0.5px solid white;
  border-radius: 5px;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
  margin-bottom: 10px;
}
    .cameraClass:hover{
      opacity: 1;
    }

.inputTextClass{
  margin:15px 0px 20px 0px;
  padding-left: 20px;
  width:98.5%;
  height: 80px;
  font-size: 50px;
  text-align: left;
  color: rgb(100, 100, 100);
  background-color: rgb(50, 50, 50);
  border: none;
  font-kerning:10px;

}

canvas {
  display: block;
}
